<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>
	<bean id="triangle" class="org.javabrains.Triangle" autowire="byName">
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean>
	
	<bean id="pointA" class="org.javabrains.Point">
		<property name="x" value="${pointA.pointX}"/>
		<property name="y" value="${pointA.pointY}"/>
	</bean>
	
	<bean  id="pointB" class="org.javabrains.Point">
		<property name="x" value="-20"/>
		<property name="y" value="0"/>
	</bean>
	
	<bean id="pointC" class="org.javabrains.Point">
		<property name="x" value="0"/>
		<property name="y" value="20"/>
	</bean>
	
	<bean class ="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="locations" value="pointsconfig.properties"></property>
	</bean>
	
</beans>